/******** GEANERAL ********/

* {
    box-sizing: box-shadow;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://cdn.statically.io/img/wallpaperaccess.com/full/662959.png);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Ropa Sans', sans-serif;
    line-height: 2;
    text-align: center;
    overflow-x: hidden;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

p {
    font-size: 19px;
    font-weight: bold;
}

/******** HEADER ********/

#header {
    background: rgb(51, 51, 51, 0.7);
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-img {
    width: 15rem;
    height: auto;
    max-width: 30rem;
    display: flex;
    cursor: pointer;
}

nav {
    font-weight: 200;
}

nav ul {
    font-size: 19.5px;
    width: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 auto;
}

.nav-link {
    color: #fff;
    text-shadow: 0 0 2px #000;
}

.nav-link:hover {
    color: #000;
    text-shadow: 0 0 1px #fff;
}

#banner-img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 2.3rem;
    letter-spacing: 5px;
    /*
  border-bottom: 0.4rem solid #de1e24;
  border-collapse: seperate;
  border-spacing: 10px 10px;
  */
}

h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    border-bottom: 0.4rem solid #de1e24;
}

/******** NEW PRODUCTS IMAGES ********/

.new-products-image {
    width: 100%;
    height: auto;
}

.new-products-image:hover {}

#monitors-img-1:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_1_20200909170935_5f589bcf1f1c2.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#monitors-img-2:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_7_20200120134923_5e253f6311331.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#monitors-img-3:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_10_20200714105642_5f0d1eea84afe.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#monitors-img-4:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_2_20191018133700_5da94f7cb4528.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#monitors-img-5:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_7_20200724141741_5f1a7d05587e8.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#monitors-img-6:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_6_20190904101849_5d6f1f0978516.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

/******** NEW PRODUCTS SECTION ********/

.new-products-section {
    text-align: center;
    padding: 6rem 2rem 0;
}

.new-products-section-header {
    max-width: 640px;
    margin: 0 auto 6rem;
}

.new-products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 2rem;
}

.new-products-grid {
    grid: auto-flow;
}

.new-products-title {
    font-size: 22px;
    color: black;
}

.new-products-title:hover {
    color: #de1e24;
}

/******** LAPTOPS IMAGES ********/

.laptops-image {
    width: 100%;
    height: auto;
}

.laptops-image:hover {}

#laptops-img-1:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_0_20200828140848_5f489f70aec8f.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#laptops-img-2:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_10_20200827163842_5f4771127dffe.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#laptops-img-3:hover {
    content: url(https://asset.msi.com/resize/image/us/product/product_7_20200912084520_5f5c1a200fdbf.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#laptops-img-4:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_10_20200506181414_5eb28df63e3cb.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#laptops-img-5:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_5_20200309093027_5e659c3301fd8.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#laptops-img-6:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_4_20200323182459_5e788e7bc69fc.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

/******** LAPTOPS SECTION ********/

.laptops-section {
    text-align: center;
    padding: 6rem 2rem 0;
}

.laptops-section-header {
    max-width: 640px;
    margin: 0 auto 6rem;
}

.laptops-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 2rem;
}

.laptops-grid {
    grid: auto-flow;
}

.laptops-title {
    font-size: 22px;
    color: black;
}

.laptops-title:hover {
    color: #de1e24;
}

/******** DESKTOPS IMAGES ********/

.desktops-image {
    width: 100%;
    height: auto;
}

.desktops-image:hover {}

#desktops-img-1:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_9_20181112134543_5be91387c05fa.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#desktops-img-2:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_8_20170630094242_5955ac92bc20d.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#desktops-img-3:hover {
    content: url(https://asset.msi.com/resize/image/us/product/product_5_20200324033135_5e790e97b7e86.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#desktops-img-4:hover {
    content: url(https://asset.msi.com/resize/image/us/product/product_0_20200227050732_5e56de147bdf1.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#desktops-img-5:hover {
    content: url(https://asset.msi.com/resize/image/global/product/product_8_20190430111506_5cc7bdbaa111e.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

#desktops-img-6:hover {
    content: url(https://asset.msi.com/resize/image/us/product/product_1_20191109011211_5dc5a1eb3de12.png62405b38c58fe0f07fcef2367d8a9ba1/1024.png);
}

/******** DESKTOPS SECTION ********/

.desktops-section {
    text-align: center;
    padding: 6rem 2rem 0;
}

.desktops-section-header {
    max-width: 640px;
    margin: 0 auto 6rem;
}

.desktops-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 2rem;
}

.desktops-grid {
    grid: auto-flow;
}

.desktops-title {
    font-size: 22px;
    color: black;
}

.desktops-title:hover {
    color: #de1e24;
}

/******** MASCOT SECTION ********/

.mascot-image {
    width: 100%;
    height: auto;
}

.mascot-image:hover {}

.mascot-title {
    font-size: 22px;
    color: black;
}

.mascot-title:hover {
    color: #de1e24;
}

/******** MASCOT CAROUSEL ********/

.mascot-section-header {
    max-width: 640px;
    margin: 0 auto;
}

.mascot-section {
    text-align: center;
    padding: 6rem 2rem 0;
}

h5 {
    font-size: 26px;
    font-weight: 600;
}

.carousel-caption {
    color: #000;
    text-shadow: 0 0 2px #fff;
}

.carousel-caption:hover {
    color: #de1e24;
    text-shadow: 0 0 2px #fff;
}

#carouselExampleCaptions {
    width: 35%;
    height: auto;
    text-align: center;
    margin: 5rem auto 2rem;
}

/******** FOOTER ********/

footer {
    background: rgb(51, 51, 51, 0.7);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-img {
    width: 15rem;
    height: auto;
    max-width: 30rem;
    display: flex;
}

#socials-header {
    margin-top: 10px;
    font-weight: normal;
}

.socials-links {
    display: flex;
    justify-content: center;
}

.socials-links a {
    font-size: 2rem;
    color: white;
    margin: 0 1rem;
    margin-bottom: .5rem;
}

.socials-links a:hover {
    color: #000;
}
